
<link rel="stylesheet" href="/css/getLog.css">
<div class="text-left" id="log-container">
    <div id='title' class="text-center"><h3>Logs by Other Users</h3></div>
</div>
<script src="/js/getLogs.community.js"></script>