
<link rel="stylesheet" href="/css/getLog.css">
<div class="text-left" id="log-container">
    <div class="text-center">
    {{> dashboard}}
    </div>
    <hr>
</div>
<div id="loader"></div>

<script src="/js/getLogs.community.js"></script>