<link rel="stylesheet" href="/css/getLog.css">

    <div id='title'><h3>Logs by Other Users</h3></div>
<div class="text-left" id="log-container">
</div>
<script src="/js/getLogs.community.js"></script>