<style>
    #dashboard {
        margin: auto;
        margin-top: 20px;
    }

    #dashboard-header {
        background-color: #443266;
        color: white;
    }

    #avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
        background-color: gray;
    }

    .stat-number {
        display: inline-block;
        font-size: 2.5em;
    }

    #logged-hours {

    }

    .mini-words {
        display: inline-block;
        font-size: 0.75em;
        width: 40px;
        text-align: left;
    }

    #logged-hours-text {

        
    }

    #dashboard-body {
        margin: 10px
    }
    
    #plus-button {
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 30px;
    }

</style>

<div id="dashboard" class="card">
    <div id="dashboard-header" class="card-header">
        <a href="/account/upload-avatar">

            <img  id="avatar" class="img-fluid">
        </a>
        <span id='username'>Loading ...</span>
    </div>
    <div id="dashboard-body">
        <span id="logged-hours" class="stat-number">00</span>
        <span id="logged-hours-text" class="mini-words">hours logged</span>
        {{> input-modal}}
        <span id="streak" class="stat-number">0</span>
        <span id="streak-text" class="mini-words">day streak</span>
    </div>


</div>

<script>
    let loadDashboard = async () => {
        let username = document.getElementById('username');
        let loggedHours = document.getElementById('logged-hours')
        let result = await fetch('/account/get-dashboard-info');
        result = await result.json()
        username.innerHTML = `@${result.username}`;
        loggedHours.innerHTML = Math.floor(result.loggedHours/60);

        let imageName = await fetch('/account/avatar');
        imageName = await imageName.json();
        let avatar = document.getElementById('avatar');
        avatar.src = `/imgs/avatars/${imageName.avatar_name || 'default.png'}`;

    

    }

    loadDashboard()

</script>