<style>
    #dashboard {
        margin: auto;
        margin-top: 20px;
        width: fit-content;
    }

    #dashboard-header {
        background-color: #443266;
        color: white;
    }

    #avatar {
        width: 50px;
        border-radius: 50%;
        margin-right: 15px;
    }

    #logged-hours {
        display: inline-block;
        font-size: 2.5em;
    }

    #logged-hours-text {
        display: inline-block;
        font-size: 0.75em;
        width: 40px;
        text-align: left;
    }

    #dashboard-body {
        margin: 10px
    }
    
    #plus-button {
        margin-bottom: 15px;
        margin-left: 60px;
    }

</style>

<div id="dashboard" class="card">
    <div id="dashboard-header" class="card-header">
        <img id="avatar" src="https://www.manufacturingusa.com/sites/manufacturingusa.com/files/default.png"><span id='username'>Loading ...</span>
    </div>
    <div id="dashboard-body">
        <span id="logged-hours">00</span>
        <span id="logged-hours-text">hours logged</span>
        {{> input-modal}}
    </div>


</div>

<script>
    let loadDashboard = async () => {
        let username = document.getElementById('username');
        let loggedHours = document.getElementById('logged-hours')
        let result = await fetch('/account/get-dashboard-info');
        result = await result.json()
        username.innerHTML = `@${result.username}`;
        loggedHours.innerHTML = Math.floor(result.loggedHours/60);

    }

    loadDashboard()

</script>