<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/homepage.css">

<div id="dashboard" class="card shadow">
    <div id="dashboard-header" class="card-header">
        <div class="row">
            <div class="col-md-6">
                <a href="/account/upload-avatar">
                    <div class="avatar-container header-components text-left" >
                        <img id="avatar">
                    </div>
                </a>
                <div id='username' class="header-components text-left">Loading ...</div>
            </div>
            <div class="col-md-6">
                <div class="text-right header-components" id="follower-info">
                    <span id='following'>...</span> following | <span id='followers'>...</span> followers
                </div>
            </div>
        </div>
    </div>
    <div id="dashboard-body">
        <span>
            <span id="logged-hours" class="stat-number">...</span>
            <span id="logged-hours-text" class="mini-words">hours logged</span>
        </span>
        {{#if public}}
        {{else}}
            {{> input-modal}}
        {{/if}}
        <span>
            <span id="streak" class="stat-number">...</span>
            <span id="streak-text" class="mini-words">day streak</span> 
        </span>
        
    </div>


</div>

