<style>
    .post {
        text-align: left;
    }


    .post {
        margin-top: 10px;
    }

    .post-header {
        background-color: #443266;
        color: white;
    }
</style>

<div id='button-group' class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 20px">
    <label class="btn btn-secondary active">
        <input type="radio" name="options" id="week-button" autocomplete="off" checked> All
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="month-button" autocomplete="off"> Posts
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="year-button" autocomplete="off"> Logs
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="year-button" autocomplete="off"> Liked
    </label>
</div>

<div class="card post border-light">
  <div class="card-header post-header"> <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id='avatar' alt=""> @someonesusername</div>
  <div class="card-body">
    <h5 class="card-title">Log</h5>
    <p class="card-text">Spent 50 minutes reading about turtles in Spanish.</p>
  </div>
</div>
<div class="card post border-light">
  <div class="card-header post-header"> <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id='avatar' alt=""> @someonesusername</div>
  <div class="card-body">
    <h5 class="card-title">Log</h5>
    <p class="card-text">Spent 50 minutes reading about turtles in Spanish.</p>
  </div>
</div>
<div class="card post border-light">
  <div class="card-header post-header"> <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id='avatar' alt=""> @someonesusername</div>
  <div class="card-body">
    <h5 class="card-title">Log</h5>
    <p class="card-text">Spent 50 minutes reading about turtles in Spanish.</p>
  </div>
</div>
<div class="card post border-light">
  <div class="card-header post-header"> <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id='avatar' alt=""> @someonesusername</div>
  <div class="card-body">
    <h5 class="card-title">Log</h5>
    <p class="card-text">Spent 50 minutes reading about turtles in Spanish.</p>
  </div>
</div>
<div class="card post border-light">
  <div class="card-header post-header"> <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id='avatar' alt=""> @someonesusername</div>
  <div class="card-body">
    <h5 class="card-title">Log</h5>
    <p class="card-text">Spent 50 minutes reading about turtles in Spanish.</p>
  </div>
</div>
<div class="card post border-light">
  <div class="card-header post-header"> <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id='avatar' alt=""> @someonesusername</div>
  <div class="card-body">
    <h5 class="card-title">Log</h5>
    <p class="card-text">Spent 50 minutes reading about turtles in Spanish.</p>
  </div>
</div>
