<nav id="new-navbar" class="navbar navbar-dark sticky-top flex-md-nowrap shadow">
  <a class="navbar-brand" href="#">PolyLogger</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>