<style>

    #button-group {
        margin:auto;
        margin-bottom: 10px;
    }

    .row {
        margin: 10px auto;
    }

    .stat-card {
        width: 100%;
        margin: auto;
    }

    .stat-card .card-body {
        padding: 20px;
    }

    .card-header {
        font-size:  2rem;
    }

    .number-stat {
        font-size: 2rem;
    }
</style>

<div class="container-fluid">
    <div class="row text-center">
<div id="amzn-assoc-ad-4a4a11ca-3182-4acd-a820-597909cd860b"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=4a4a11ca-3182-4acd-a820-597909cd860b"></script>    </div>
    <div class="row">
        <div class="card stat-card">
            <div class="card-header">
                Basic Stats
            </div>
            <div class="card-body">
                <div id="users-stats">
                </div>
                <div id="logs-stats">
                </div>
                <div id="hours-stats">
                </div>
                <div id="languages-stats">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id='button-group' class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 20px">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="top-button" autocomplete="off" checked> Top
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="new-button" autocomplete="off"> New
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="log-button" autocomplete="off"> Logs
            </label>
        </div>
        <table id="user-table" class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col"># of Logs</th>
                </tr>
            </thead>
            <tbody hidden="true" id="new-user-body"></tbody>
            <tbody id="top-user-body"></tbody>
        </table>
        <table hidden="true" id="log-table" class="table">
            <thead>
                <tr>
                    <th scope="col">Log</th>
                </tr>
            </thead>
            <tbody id="log-body"></tbody>
        </table>
    </div>
    <div class="row">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Language is a numbers game. Log your progress!" data-url="https://polylogger.com" data-hashtags="logyourlanguagelearning" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<script>

    const setButtons = () => {
        document.getElementById('top-button').onclick = () => {
            document.getElementById('log-table').hidden = true;
            document.getElementById('user-table').hidden = false;
            document.getElementById('new-user-body').hidden = true;
            document.getElementById('top-user-body').hidden = false;
        }
        document.getElementById('new-button').onclick = () => {
            document.getElementById('log-table').hidden = true;
            document.getElementById('user-table').hidden = false;
            document.getElementById('top-user-body').hidden = true;
            document.getElementById('new-user-body').hidden = false;
        }
        document.getElementById('log-button').onclick = () => {
            document.getElementById('log-table').hidden = false;
            document.getElementById('user-table').hidden = true;
        }
    }


    const getUsers =  async () => {
        let result = await fetch('/admin/count-users');
        result = await result.json();
        document.getElementById('users-stats').innerHTML = `<span class='number-stat'>${result.count}</span> users`;
    }

    const getLogs =  async () => {
        let result = await fetch('/admin/count-logs');
        result = await result.json();
        document.getElementById('logs-stats').innerHTML = `<span class='number-stat'>${result.count}</span> logs`;
    }

    const getHours =  async () => {
        let result = await fetch('/admin/count-hours');
        result = await result.json();
        document.getElementById('hours-stats').innerHTML = `<span class='number-stat'>${result.hours}</span> hours`;
    }

    const getLanguages =  async () => {
        let result = await fetch('/admin/count-languages');
        result = await result.json();
        document.getElementById('languages-stats').innerHTML = `<span class='number-stat'>${result.count}</span> languages`;
    }

    const getTopUsers = async () => {
        let result = await fetch('/admin/get-top-users');
        result = await result.json();
        
        let topUserBody = document.getElementById('top-user-body')
        result.forEach( user => {
            let row = document.createElement('tr')
            let username = document.createElement('td');
            let link = document.createElement('a');
            link.href = `/user/${user.username}`;
            link.target = '_blank';
            if (user.username.length > 20) {
                link.innerText = user.username.slice(0,20) + '...';
            } else {
                link.innerText = user.username;
            }
            let logs = document.createElement('td');
            logs.innerText = user.count;
            username.appendChild(link)
            row.appendChild(username);
            row.appendChild(logs);
            topUserBody.appendChild(row);
        })
    }

    const getNewUsers = async () => {
        let result = await fetch('/admin/get-new-users');
        result = await result.json();
        let newUserBody = document.getElementById('new-user-body')
        result.forEach( user => {
            let row = document.createElement('tr')
            let username = document.createElement('td');
            let link = document.createElement('a');
            link.href = `/user/${user.username}`;
            link.target = '_blank'
            if (user.username.length > 20) {
                link.innerText = user.username.slice(0,20) + '...';
            } else {
                link.innerText = user.username;
            }
            let logs = document.createElement('td');
            logs.innerText = user.count;
            username.appendChild(link)
            row.appendChild(username);
            row.appendChild(logs);
            newUserBody.appendChild(row);
        })
    }

    const getUsernames = () => {
        getTopUsers();
        getNewUsers();
    }

    const getLatestLogs = async () => {
        let result = await fetch('/admin/get-latest-logs');
        result = await result.json();

        let logBody = document.getElementById('log-body')
        result.forEach( log => {
            let row = document.createElement('tr')
            let activity = document.createElement('td');
            let link = document.createElement('a');
            link.href = `/user/${log.username}`;
            link.target = '_blank';
            link.innerText = log.activity;
            activity.appendChild(link)
            row.appendChild(activity);
            logBody.appendChild(row);
        })
    }

    const loadPage = () => {
        getUsers();
        getLogs();
        getHours();
        getLanguages();
        getUsernames();
        setButtons();
        getLatestLogs();
    }

    loadPage();
</script>
