
<div id="graph-container-month" class="container"></div>

<canvas id="myChart" width="auto" height="auto" class="table"></canvas>
<script src="/ChartJS/Chart.js"></script>
<script src="/js/analyticsMonth.js"></script>
