<canvas id="myChart" width="auto" height="auto"></canvas>
<button style="margin: auto;" id='toggle'>Toggle cumulative and regular</button>
<script src="/ChartJS/Chart.js"></script>
<script>


// get the dates for the request
let today = new Date();
let lastWeek = new Date();
lastWeek.setDate(today.getDate() - 7)
today = today.toJSON() + 'T00:00:00.000Z'
lastWeek = lastWeek.toJSON().slice(0,10) + 'T00:00:00.000Z'

// request the json
const getLastWeeksLog = async () => {
    let lastWeekAndToday = {
        today: today,
        lastWeek: lastWeek
    }
    lastWeekAndToday = JSON.stringify(lastWeekAndToday);

    let result = await fetch('/log/getLastWeek', {
        method: 'post',
        headers: {
            'Content-Type' : 'application/json'
        },
        body: lastWeekAndToday
    })
    
    result = await result.json();

    let dateArray = [];
    let timeArray = []; 

    // for standard plot
    result.forEach((object) => {
        dateArray.push(object.date.slice(0,10));
        timeArray.push(object.time)
    })

    let cumulativeTimeArray = [];
    // for cumulative plot
    for (let i = 0; i < result.length; i++) {
        if (i > 0) {
            let sum = cumulativeTimeArray[i-1]+result[i].time/60;
           cumulativeTimeArray.push(sum) 
        } else {
            cumulativeTimeArray.push(result[i].time/60) 
        }   
    }
    console.log(cumulativeTimeArray)


    let ctx = document.getElementById('myChart').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dateArray,
            datasets: [{
                label: 'Days',
                data: cumulativeTimeArray,
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}

// organize the data into arrays


getLastWeeksLog()

let cumulative = false;
let toggle = document.getElementById('toggle');
toggle.addEventListener('click', () => {
    
})






</script>
