<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/getLog.css">

<div class="row">
   <div class="col-md-8">
    {{> community-logs}}
    </div>
    <div class="col-md-4" id="right-side-bar">

        <div class="top-users">
            {{> top-users}}
        </div>
    </div> 
</div>


<script>
    document.getElementById('community-link').className += ' active'
</script>
<script type="text/javascript" src="https://fandmo.com/main.js" async></script>
<script src="/js/loadDashboard.js"></script>
<script src="/js/calculate-streak.js"></script>
<script src="/js/newLogModal.js"></script>