<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/more-info.css">
<link rel="stylesheet" href="/css/create-username.css">

{{> navbar public=true}}


<div id="prompt"><h3>Please create a username!</h3></div>
<div class="container">
    <div id="username-form">
        <div class="card text-center" id="username-box">
            <form id="username-form">
                {{!-- // name of log --}}
                <div class="form-group">
                    <label for="username" required>Username</label>
                    <div id="username-message"></div>
                    <div id="loader"></div>
                    <input type="text" class="form-control" name="username" id="username-input" placeholder="create a username" required minlength="5" pattern="[a-zA-Z0-9]+" autocomplete="off">
                </div>  
                <button id="submit-button" type="submit" value="submit" class="btn btn-block form-group" style="background-color: #443266; color: white;" disabled>Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/create_username_page.js"></script>