
<div class="container">
    <form id="log-form" action="/log/create" method="post">
        {{!-- // title --}}
        <div class="form-title"><h3>Insert new log</h3></div>

        {{!-- // name of log --}}
        <div class="form-group">
            <label for="name" required>What did you do?</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="I watched some tv." required autocomplete="off">
        </div>

        {{!-- // type and language --}}
        <div class="row form-group">
            <div class="col">
                <label for="language">What language did you do it in?</label>
                <select class="form-control" name="language_id" id="language">
                </select>
            </div>
            <div class="col">
                <label for="type">What type of activity is this?</label>
                <select class="form-control" name="type_id" id="type">
                </select>
            </div>
        </div>

         {{!-- time and date --}}
        <div class="row form-group">
            <div class="col">
                <label for="time" required>How long did you do it?</label>
                <input type="number" class="form-control" name="time" id="time" placeholder="Enter time in minutes." required>
            </div>
            <div class="col">
                <label for="date" required>Today or some other day?</label>
                <input type="date" class="form-control" name="date" id="date">
            </div>
        </div >
        <button id="submit-button" type="submit" value="submit" class="btn btn-block form-group" style="background-color: #443266; color: white;">Submit</button>
    </form>
</div>

<script>




    let date = document.getElementById('date');
    let myDate = new Date();
    date.value = myDate.toLocaleDateString('en-CA')

    const getLanguages = async () => {
        let languageSelector = document.getElementById('language');
        let result = await fetch('/language');
        result = await result.json()
        
        for (let i = 0; i < result.length; i++) {
            let option = document.createElement('option');
            option.value = result[i].id;
            option.text = result[i].name;
            languageSelector.appendChild(option)
        }
    }

        const getTypes = async () => {
        let typeSelector = document.getElementById('type');
        let result = await fetch('/type');
        result = await result.json()
        
        for (let i = 0; i < result.length; i++) {
            let option = document.createElement('option');
            option.value = result[i].id;
            option.text = result[i].name;
            typeSelector.appendChild(option)
        }
    }

    getLanguages();
    getTypes();
</script>