<link rel="stylesheet" href="/css/more-info.css">
<link rel="stylesheet" href="/css/create-username.css">


<div id="prompt"><h3>You Forgot Your Password? No Big Deal</h3></div>
<div class="container">
    <div id="username-form">
        <div class="card text-center" id="username-box">
            <form id="username-form" method="POST" action="/auth/reset-password">
                {{!-- // name of log --}}
                <div class="form-group">
                    {{#if message}}
                    <div id="message" class="message alert alert-danger">{{message}}</div>
                    {{/if}}
                    <input type="email" class="form-control" name="email" id="username-input" placeholder="Enter your email" required>
                </div>  
                <button id="submit-button" type="submit" value="submit" class="btn btn-block form-group" style="background-color: #443266; color: white;" >Send Reset Link</button>
            </form>
        </div>
    </div>
</div>
