<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Language</th>
            <th scope="col">time</th>
            <th scope="col">date</th>
            <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr>
            </tr>
        </tbody>
    </table>
</div>

<script>
    const getLogs = async () => {
        let result = await fetch('log/getAllLogs');
        result = await result.json();
        
        for (let i = 0; i < result.length; i++) {
            console.log('running')
            let tableBody = document.getElementById('table-body')
            let row = document.createElement('tr');

            let name = document.createElement('th');
            let name_text = document.createTextNode(result[i].name);
            name.appendChild(name_text);
            row.appendChild(name);

            let language = document.createElement('td');
            let language_text = document.createTextNode(result[i].language_id);
            language.appendChild(language_text);
            row.appendChild(language);

            let time = document.createElement('td');
            let time_text = document.createTextNode(result[i].time);
            time.appendChild(time_text);
            row.appendChild(time);

            let date = document.createElement('td');
            let date_text = document.createTextNode(result[i].date);
            date.appendChild(date_text);
            row.appendChild(date);

            let deleteButton = document.createElement('td');
            let deleteButton_text = document.createTextNode("trash me");
            deleteButton.appendChild(deleteButton_text);
            row.appendChild(deleteButton);

            tableBody.appendChild(row)
        }
        
    }
    getLogs();
</script>