<link rel="stylesheet" href="/css/homepage.css">

{{> navbar}}

<div class="container-fluid">

    <div class="row">

        {{> sidebar}}

        <main id="main-content" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            {{> getLogs}}
        </main>
    </div>

</div>

<script>
    document.getElementById('logs-link').className += ' active'
</script>
<script src="/js/getLogs.js"></script>