<link rel="stylesheet" href="/css/homepage.css">


<div id="self-log-container">
{{> getLogs}}
</div>
        

<script>
    document.getElementById('logs-link').className += ' active'
</script>
<script src="/js/getLogs.js"></script>