<style>
    #log-form {
        text-align: left;
    }

    #plus-button {
        display: block;
        margin-top: 15px;
    }
</style>

{{> navbar }}



<div class="container text-center">
    {{!-- Input Log --}}
    <a id="plus-button" type="button" data-toggle="modal" data-target="#exampleModal">
        <svg class="bi bi-plus-circle-fill" width="3em" height="3em" viewBox="0 0 16 16" fill="#443266" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
        </svg>
    </a>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Insert new log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="log-form" action="/log/create" method="post">
        {{!-- // name of log --}}
        <div class="form-group">
            <label for="name" required>What did you do?</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="I watched some tv." required autocomplete="off">
        </div>

        {{!-- // type and language --}}
        <div class="row form-group">
            <div class="col">
                <label for="language">Language:</label>
                <select class="form-control" name="language_id" id="language">
                </select>
            </div>
            <div class="col">
                <label for="type">Type:</label>
                <select class="form-control" name="type_id" id="type">
                </select>
            </div>
        </div>

         {{!-- time and date --}}
        <div class="row form-group">
            <div class="col">
                <label for="time" required>Duration:</label>
                <input type="number" class="form-control" name="time" id="time" placeholder="in minutes..." required>
            </div>
            <div class="col">
                <label for="date" required>Date:</label>
                <input type="date" class="form-control" name="date" id="dateInput">
            </div>
        </div >
        <button id="submit-button" type="submit" value="submit" class="btn btn-block form-group" style="background-color: #443266; color: white;">Submit</button>
    </form>
    </div>
  </div>
</div>
</div>


    {{!-- Graphs --}}
    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 20px">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="week-button" autocomplete="off" checked> Week
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="month-button" autocomplete="off"> Month
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="year-button" autocomplete="off"> Year
        </label>
    </div>

    <div id="graph-container-week" class="container"></div>
    <div id="graph-container-month" class="container" ></div>
    <div id="graph-container-year" class="container" ></div>
</div>

<script src="/ChartJS/Chart.js"></script>
<script src="/js/graphButtons.js"></script>
<script src="/js/createGraph.js"></script>
<script src="/js/analyticsWeek.js"></script>
<script src="/js/analyticsMonth.js"></script>
<script src="/js/analyticsYear.js"></script>
<script src="/js/newLogModal.js"></script>