
<div class="container text-center">
    <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 20px">
        <button type="button" id="week-button" class="btn btn-secondary">Week</button>
        <button type="button" id="month-button" class="btn btn-secondary">Month</button>
        <button type="button" id="year-button" class="btn btn-secondary">Year</button>
    </div>

    <div id="graph-container-week" class="container"></div>
    <div id="graph-container-month" class="container" ></div>
    <div id="graph-container-year" class="container" ></div>
</div>

<script src="/ChartJS/Chart.js"></script>
<script src="/js/graphButtons.js"></script>
<script src="/js/createGraph.js"></script>
<script src="/js/analyticsWeek.js"></script>
<script src="/js/analyticsMonth.js"></script>
<script src="/js/analyticsYear.js"></script>