<style>
    #log-form {
        text-align: left;
    }

    #button-group {
        margin-bottom: 10px;
    }
</style>

{{> navbar }}

<div class="container text-center">


    {{!-- Graphs --}}
        <div id='button-group' class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 20px">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="week-button" autocomplete="off" checked> Week
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="month-button" autocomplete="off"> Month
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="year-button" autocomplete="off"> Year
            </label>
        </div>

        <div id="graph-container-week" class="container"></div>
        <div id="graph-container-month" class="container" ></div>
        <div id="graph-container-year" class="container" ></div>
    </div>

</div>

<script>
    document.getElementById('home-button').className += ' active'
</script>
<script src="/ChartJS/Chart.js"></script>
<script src="/js/graphButtons.js"></script>
<script src="/js/createGraph.js"></script>
<script src="/js/analyticsWeek.js"></script>
<script src="/js/analyticsMonth.js"></script>
<script src="/js/analyticsYear.js"></script>
<script src="/js/newLogModal.js"></script>
<script src="/js/calculate-streak.js"></script>
