<link rel="stylesheet" href="/css/homepage.css">

{{> new-navbar}}

<div class="container-fluid">

    <div class="row">

        {{> sidebar}}

        <main id="main-content" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 text-center">

            {{> dashboard this}}

            <div class="row">
                <div class="col-md container overflow-auto order-md-12 feed-data-col">
                    {{!-- Graphs --}}
                    <div id='button-group' class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 20px">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="week-button" autocomplete="off" checked> Week
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="month-button" autocomplete="off"> Month
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="year-button" autocomplete="off"> Year
                        </label>
                    </div>

                    <div id="graph-container-week"></div>
                    <div id="graph-container-month"></div>
                    <div id="graph-container-year"></div>
                </div>
                <div class="col-md container overflow-auto order-md-1 feed-data-col">
                    {{>getLogs}}
                </div>
            </div>
        </main>
    </div>

</div>

<script>
    document.getElementById('home-link').className += ' active'
</script>
<script src="/js/loadDashboard.js"></script>
<script src="/js/getLogs.js"></script>
<script src="/ChartJS/Chart.js"></script>
<script src="/js/graphButtons.js"></script>
<script src="/js/createGraph.js"></script>
<script src="/js/analyticsWeek.js"></script>
<script src="/js/analyticsMonth.js"></script>
<script src="/js/analyticsYear.js"></script>
<script src="/js/newLogModal.js"></script>
<script src="/js/calculate-streak.js"></script>
