<link rel="stylesheet" href="/css/homepage.css">

<nav id="new-navbar" class="navbar navbar-dark sticky-top flex-md-nowrap shadow">
  <a class="navbar-brand" href="#">PolyLogger</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/auth/logout">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">

    <div class="row">

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">
                <span data-feather="file"></span>
                Stats
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getLogs">
                <span data-feather="users"></span>
                Logs
                </a>
            </li>
            </ul>
        </div>
        </nav>

        <main id="main-content" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 text-center">

            {{> dashboard this}}

            <div class="row">
                <div class="col-md container overflow-auto order-md-12 feed-data-col">
                    {{!-- Graphs --}}
                    <div id='button-group' class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 20px">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="week-button" autocomplete="off" checked> Week
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="month-button" autocomplete="off"> Month
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="year-button" autocomplete="off"> Year
                        </label>
                    </div>

                    <div id="graph-container-week"></div>
                    <div id="graph-container-month"></div>
                    <div id="graph-container-year"></div>
                </div>
                <div class="col-md container overflow-auto order-md-1 feed-data-col">
                    {{>getLogs}}
                </div>
            </div>
        </main>
    </div>

</div>

<script src="/js/loadDashboard.js"></script>
<script src="/js/getLogs.js"></script>
<script src="/ChartJS/Chart.js"></script>
<script src="/js/graphButtons.js"></script>
<script src="/js/createGraph.js"></script>
<script src="/js/analyticsWeek.js"></script>
<script src="/js/analyticsMonth.js"></script>
<script src="/js/analyticsYear.js"></script>
<script src="/js/newLogModal.js"></script>
<script src="/js/calculate-streak.js"></script>
