<style>
    #log-form {
        text-align: left;
    }

    #button-group {
        margin-bottom: 10px;
    }

    #navbar {
        background-color: #443266;
    }

    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: white;
    }

    @media (max-width: 767.98px) {
    .sidebar {
        top: 2rem;
    }
    }

    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
    }

    .sidebar .nav-link {
    font-weight: 500;
    color: #333;
    }

    .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
    }

    .sidebar .nav-link.active {
    color: #007bff;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
    color: inherit;
    }

    .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
    }
    .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
    }

    .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    }

    .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    .feed-data-col {
        height: 60vh;
    }


</style>

<nav id="navbar" class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">PolyLogger</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">

    <div class="row">

        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Stats
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Social
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Logs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Resources
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="layers"></span>
                Account
                </a>
            </li>
            </ul>
        </div>
        </nav>

        <main id="main-content" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 text-center">

            {{> new-dashboard this}}

            <div class="row">
                <div class="col-md container overflow-auto feed-data-col">
                    {{>feed}}
                </div>
                <div class="col-md container overflow-auto feed-data-col">
                    {{!-- Graphs --}}
                    <div id='button-group' class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 20px">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="week-button" autocomplete="off" checked> Week
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="month-button" autocomplete="off"> Month
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="year-button" autocomplete="off"> Year
                        </label>
                    </div>

                    <div id="graph-container-week"></div>
                    <div id="graph-container-month"></div>
                    <div id="graph-container-year"></div>
                </div>
            </div>
        </main>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="/js/loadDashboard.js"></script>
<script src="/ChartJS/Chart.js"></script>
<script src="/js/graphButtons.js"></script>
<script src="/js/createGraph.js"></script>
<script src="/js/analyticsWeek.js"></script>
<script src="/js/analyticsMonth.js"></script>
<script src="/js/analyticsYear.js"></script>
<script src="/js/newLogModal.js"></script>
<script src="/js/calculate-streak.js"></script>
