{{> navbar-signup}}

<style>

    #welcome {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 0;
    }



    #signup-form {
        max-width: 300px; 
        margin: auto; 
    }


    #motivation-message {
        text-align: center;
        color: rgb(0, 0, 0, 0.7);
    }

    #signup-box {
        background-color: #443266;
        padding: 20px; 
        margin-top: 20px;
    }
    #signin-text {
        color: white;
    }

    #signin-button {
        margin: auto;
    }

    #user-logs {
        margin-top: 20px;
    }

    
</style>

<div id="welcome"><h1>Welcome to Polylogger!</h1></div>
<div class="container" >
    <div class="row align-items-center">

        <div id="graph-container" class="col-sm-8 graph-container"></div>


        <div class="col-sm-4" id="signup-form">
            <div id='motivation-message'>
                <h3>Log your language learning and see your progress!</h3>
                
            </div>
            <div class="card text-center" id="signup-box">
                <div class="card-header">
                <h4 id='signin-text'>Sign up or Log in:</h4>
                </div>
                <a href='/auth/google' id='signin-button' class='btn btn-outline-light'>
                    <img src="https://img.icons8.com/color/50/000000/google-logo.png" class='img' width='30px'/>
                    with Google
                </a>
            </div>
        </div>        
        
    </div>
    <div id="user-logs" class="row justify-content-center">
        <div class="col-sm-8">
            <h3 class="text-center">Recent Logs by Users</h3>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Language</th>
                    <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/ChartJS/Chart.js"></script>
<script src="/js/createGraph.js"></script>
<script src="/js/analyticsWeek.homepage.js"></script>
<script src="/js/getLogs.homepage.js"></script>