#button-group {
    width: fit-content;
    margin: 20px auto;
}

#log-container {
    margin: auto;
    overflow: auto;
    height: calc(var(--vh, 1vh) * 100);
}

.log-card {
    margin: 10px auto;
}

.log-card-header {
    color: #FFF;
    background-color: #443266;
    font-weight: 400;
}

.header-row {
    display: inline-block;
}

.delete-button {
    float: right;
}

.title {
    max-width: 85%;
}

.right-info {
    float: right;
}

.card-line {
    margin-bottom: 10px;
}

.user-link {
    color: white;
}

.activity {
    text-align: center;
    font-weight: bold;
}

#title {
    margin: 20px auto;
}

#loader {
    display: none;
    margin: 20px auto;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #443266; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}